@font-face {
  font-family: 'Magnel';
  src: url('../../fonts/Magnel/Magnel.eot');
  src: url('../../fonts/Magnel/Magnel.woff') format('woff'),
  url('../../fonts/Magnel/Magnel.ttf') format('truetype'),
  url('../../fonts/Magnel/Magnel.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}