.search-top-block {
  text-align: center;
  padding: 25px 0 33px;

  @include media('<tablet') {
    padding: 20px 0 16px;
  }

  .watermark {
    margin-bottom: 14px;

    @include media('<tablet') {
      display: inline-block;
      vertical-align: top;
      width: 23px;
      margin-bottom: 11px;
    }
  }

  .header {
    @include media('<tablet') {
      padding: 0 25px;
    }
  }

  h2 {
    position: relative;
    padding-bottom: 25px;
    margin-bottom: 31px;

    @include media('<tablet') {
      padding-bottom: 17px;
      margin-bottom: 5px;
    }

    &:after {
      content: "";
      @include line;
    }
  }

  .search-form {
    padding-top: 22px;

    @include media('<tablet') {
      padding: 0 30px;
    }
  }

  .select-row {
    letter-spacing: -5px;
    position: relative;
    padding-right: 186px;
    margin: 0 -30px;
    position: relative;

    @include media('<widescreen') {
      margin: 0 -15px;
    }

    @include media('<640px') {
      padding-right: 0;
    }
  }

  .select-wrap {
    display: inline-block;
    vertical-align: top;
    letter-spacing: 0;
    width: 25%;
    padding: 0 30px 30px;

    @include media('<widescreen') {
      padding: 0 15px 15px;
    }

    @include media('<desktop') {
      width: 50%;
    }

    @include media('<640px') {
      width: 100%;
      padding-bottom: 14px;
    }
  }

  input[type="submit"] {
    @extend %transition;
    position: absolute;
    right: 30px;
    top: 0;
    width: 130px;
    height: 54px;
    border: none;
    background: #697933;
    font: 700 16px/18px $base-font-family;
    color: $white;
    text-transform: uppercase;
    padding: 0;

    @include media('<640px') {
      position: static;
      font-size: 14px;
      width: 106px;
      height: 44px;
    }

    &:hover,
    &:focus {
      background: darken(#697933, 10%);
    }
  }
}

.home-listings {
  letter-spacing: -5px;

  @include media('<640px') {
    margin: 0;
    padding-bottom: 23px;
  }

  [class*="col-"],
  [class^="col-"] {
    float: none;
    display: inline-block;
    vertical-align: top;
    letter-spacing: 0;
    margin-bottom: 34px;

    @include media('<640px') {
      width: 100%;
      display: block;
      margin-bottom: 10px;
    }
  }
}

.listing-content-wrap {
  border: 1px solid #dfc9a0;
  padding: 7px;

  @include media('<640px') {
    height: auto !important;
    padding: 5px 4px;
  }

  .img-wrap {

    img {
      width: 100%;
    }
  }

  .content-holder {
    padding: 10px 11px 3px;
    color: $crete;

    @include media('<640px') {
      padding: 7px 6px 3px;
    }
  }

  .top-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;

    @include media('<640px') {
      margin-bottom: 0;
    }

    .name {
      font-size: 36px;
      line-height: 1;
      font-weight: 400;
      font-style: italic;
      padding-right: 20px;

      @include media('<widescreen') {
        font-size: 28px;
      }

      @include media('<640px') {
        font-size: 22px;
      }

      a {
        color: $crete;

        &:hover,
        &:focus {
          color: darken($crete, 10%);
        }
      }
    }

    .star {
      font-size: 33px;
      line-height: 1;
      display: inline-block;
      vertical-align: top;
      margin-top: 5px;

      @include media('<widescreen') {
        font-size: 26px;
      }

      @include media('<640px') {
        font-size: 19px;
        margin-top: 4px;
      }
    }
  }

  .detail-row {
    display: flex;
    justify-content: space-between;

    .detail-col {
      padding-right: 10px;
    }

    address {
      margin: 0 0 2px;
      font-size: 24px;
      line-height: 1.083;

      @include media('<widescreen') {
        font-size: 20px;
      }

      @include media('<640px') {
        font-size: 15px;
      }
    }

    .feature-list {
      @extend %listreset;
      letter-spacing: -5px;
      margin: 0 -9px;

      @include media('<640px') {
        margin: 0 -4px;
      }

      li {
        display: inline-block;
        vertical-align: middle;
        letter-spacing: 0;
        padding: 0 9px;
        text-align: center;
        text-transform: uppercase;

        @include media('<640px') {
          padding: 0 4px;
        }

        span {
          display: block;
          font-size: 32px;
          line-height: 1;

          @include media('<widescreen') {
            font-size: 24px;
          }

          @include media('<640px') {
            font-size: 19px;
          }
        }

        em {
          display: block;
          font-style: normal;
          font-size: 10px;
          line-height: 12px;

          @include media('<640px') {
            font-size: 8px;
            line-height: 1;
          }
        }
      }
    }

    .price {
      font-size: 33px;
      line-height: 1.0606;
      font-style: italic;

      @include media('<widescreen') {
        font-size: 20px;
      }
    }
  }
}